.App {
  text-align: center;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

h2 {
  font-family: Rubik, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 2em;
  color: #666;
}
